<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left">
                <i class="fa fa-copyright"></i> 
                <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>  <a href="https://github.com/swht" target="_blank" title="南非波波github主页"><%= config.author || config.title %></a>
            </div>
            <div class="footer-right">
                <a href="http://www.cnblogs.com/songqingbo/" target="_blank" title="南非波波博客园主页"><%= config.author || config.title %>博客园主页</a> <!-- <p>京ICP备16009444号-1</p> -->
                          
            </div>
        </div>
        <% if (theme.visit_counter.on) { %>
            <div class="visit">
                <% if (theme.visit_counter.site_visit) { %>
                    <span id="busuanzi_container_site_pv" style='display:none'>
                        <span id="site-visit" ><%= __('visit_counter.site') %>: 
                            <span id="busuanzi_value_site_uv"></span>
                        </span>
                    </span>
                <% } %>
                <% if (theme.visit_counter.site_visit && theme.visit_counter.page_visit) { %>
                    <span>, </span>
                <% } %>
                <% if (theme.visit_counter.page_visit) { %>
                    <span id="busuanzi_container_page_pv" style='display:none'>
                        <span id="page-visit"><%= __('visit_counter.page') %>: 
                            <span id="busuanzi_value_page_pv"></span>
                        </span>
                    </span>
                <% } %>
                <!-- <a href="http://webscan.360.cn/index/checkwebsite/url/blog.songqingbo.cn"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/557511e63940e56c93e9f10c6d9bb767"/></a> -->
            </div>
        <% } %>
    </div>
</footer>